.results {
    border: 5px solid #16078D;
    margin: 5%;
    padding: 3%;
}

.definitions {
    font-size: 120%;
}

.searched-word {
    color: #16078D;
}

.definition-word:hover {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}
